.conctactMeContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.contactForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-black-transparent);
  width: 100%;
  height: 50%;
}

.email {
  position: relative;
  top: 1rem;
  color: var(--color-silver);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-style: oblique;
}

.resume {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  border: 1px solid;
  transition: color ease-in-out 0.4s;
  color: rgb(177, 175, 175);
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.resume:hover {
  color: var(--color-hover);
}
.emailText {
  color: var(--color-titles);
}
.cvIcon {
  margin: 0 3px;
}

@media all and (max-width: 860px) {
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    background-color: var(--color-black-transparent);
    width: 100%;
    height: 50%;
  }
  .emailText {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 14px;
  }

  .resumeContainer {
    font-size: 10px;
    margin-left: 15px;
  }

  .resume {
    position: relative;
    top: 1rem;
    width: 100px;
    height: 40px;
    margin-left: 15px;
  }

  .socialMediaContainer {
    font-size: 13px;
    margin-left: 15px;
  }
}

@media all and (max-width: 540px) {
  .contactForm {
    justify-content: flex-start;
    align-items: center;
  }

  .emailText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 12px;
  }

  .resumeContainer {
    font-size: 10px;
    margin-left: 15px;
  }

  .resume {
    position: relative;
    top: 1rem;
    width: 100px;
    height: 30px;
    margin-left: 15px;
  }

  .socialMediaContainer {
    font-size: 10px;
    margin-left: 15px;
  }
}
