.conctactMeContainer {
  display: flex;
  align-items: flex-end;
}
.contactForm {
  display: flex;
  position: relative;
  background-color: var(--color-black-transparent);
  width: 100%;
  height: 50%;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.email {
  position: relative;
  top: 1rem;
  color: var(--color-silver);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-style: oblique;
}

.resume {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  border: 1px solid;
  transition: color ease-in-out 0.4s;
  color: rgb(177, 175, 175);
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.resume:hover {
  color: var(--color-hover);
}
.emailText {
  color: var(--color-titles);
}
.cvIcon {
  margin: 0 3px;
}
