.App {
  overflow: auto;
  overflow-x: hidden;
  background-color: rgba(3, 4, 52, 0.515);
}

.light {
  background-color: rgba(113, 112, 112, 0.94);
}
.dark {
  background-color: rgba(40, 38, 38, 0.923);
}
section {
  height: 120vh;
}
