.App {
  overflow: auto;
  overflow-x: hidden;
  background-color: rgba(3, 4, 52, 0.515);
}

.light {
  background-color: rgba(48, 47, 47, 0.923);
}
.dark {
  background-color: rgba(0, 0, 0, 0.918);
}
section {
  height: 120vh;
}
